<html>
	<head>
		<title>Gantt Party</title>
	</head>
	<body>
		<div id="mount-node"></div>
		<script>
			const path = require('path');
			const ROOT_DIR = path.resolve(__dirname, '..', '..');

			// Environment config
			require('dotenv').config();

			// Inject config into renderer
			const themePath = path.resolve(ROOT_DIR, 'src', 'themes', 'default.json');
			window.DEFAULT_THEME = require(themePath);

			// Initialize Styles
			const link = document.createElement('link');
			const productionStylesPath = path.resolve(ROOT_DIR, 'build', 'renderer.css');
			link.rel = 'stylesheet';
			link.href = productionStylesPath;
			document.getElementsByTagName('head')[0].appendChild(link);

			// Initialize Renderer
			const productionRendererPath = path.resolve(ROOT_DIR, 'build', 'renderer');
			require(productionRendererPath);
		</script>
	</body>
</html>