.canvas {
	overflow: hidden;
	position: relative;
}

tr {
	table-layout: fixed;
}

.header {
	border-bottom: 1px solid var(--color-border);
}

.cell {
	width: var(--layout-cell-size);
	height: var(--layout-cell-size);
	min-width: var(--layout-cell-size);
	min-height: var(--layout-cell-size);
	line-height: calc(var(--layout-cell-size) - 1px);
	border: 1px solid var(--color-border);
	background: var(--color-background);
	text-align: center;
	vertical-align: middle;
}

.cell.dateCell {
	color: var(--color-text-secondary);
	border-bottom: none;
}

.cell.projectCell {
	width: initial;
	min-width: initial;
	text-align: left;
	padding: 0 20px;
	border-left: none;
}

.cell.projectDateCell {
	border-left-color: transparent;
	border-right-color: transparent;
}

.cell.projectDateCell.leftBorder {
	border-left-color: var(--color-border);
}

.cell.projectDateCell.rightBorder {
	border-right-color: var(--color-border);
}